{% extends 'base.html.twig' %}

{% block title %}Notre Maison - Reflet Sucré
{% endblock %}

{% block content %}

	<h2 class="text-center about_h2">La maison</h2>
	<div class="row">
		<div class="col-md-6">
			<h4 class="about-h4">La Chef</h4>
			<img src="{{ 'assets/img/chef.jpg' }}" class="rounded img-fluid" alt="chef Julie">
		</div>
		<div class="col-md-6">
			<p class="text-left about-text-p">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat eaque debitis voluptate rerum! Nam ratione velit dolor accusantium libero delectus vitae adipisci deleniti, porro quas minus aliquam facere earum veritatis!
				A doloribus optio, iste ad harum error eum, at voluptatum ex quam magnam eos consectetur perspiciatis architecto officia illum? Saepe maxime vero neque, obcaecati fugiat delectus possimus laborum adipisci! Sint?
				Ipsa possimus molestias, odit eveniet vero amet quis corrupti atque explicabo est, harum culpa sed illum obcaecati veritatis? Earum nobis corporis voluptates, quisquam illum laborum accusantium et dignissimos tenetur facere.
				Ut dignissimos quas in iste illo provident excepturi soluta, velit unde ab cum id neque recusandae facilis, quibusdam laborum perferendis veritatis eligendi ad cupiditate vitae! Magnam, accusamus ducimus? Voluptatem, tempore!
		    </p>
		</div>
	</div>
    <hr class="about-hr">
    <div class="row about-row">
        <div class="col-md-6">
            <p class="text-right about-text-p">
		        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sint, nulla accusantium maiores quisquam cumque nesciunt rerum necessitatibus excepturi ea explicabo repellat asperiores sapiente cum, deleniti eum omnis nostrum atque?
		        Mollitia dolorem illo quam asperiores. Eveniet laborum eligendi, architecto debitis numquam omnis optio natus veniam dolores porro, dicta, laudantium nesciunt harum ullam. Commodi repellendus ab fugit eaque optio. Voluptatem, est?
		        Saepe, repellendus aut. Consequatur a repellat accusantium est qui aliquid autem nisi dicta reprehenderit! Quia voluptatibus fuga, in ullam eum, labore sint vitae eveniet sunt quas, error ut similique animi!
		        Dolor optio laboriosam corporis ipsum neque sed temporibus reprehenderit illo praesentium ipsam nostrum quo iste dignissimos eligendi iure cum corrupti voluptas fugiat maiores quibusdam eius id, sit vero! Quam, repellendus!
	        </p>
        </div>
        <div class="col-md-6">
            <h4 class="about-h4">L'équipe</h4>
	        <img src="{{ 'assets/img/Team-girls.jpg' }}" class="rounded img-fluid" alt="La maison Reflet Sucré">
        </div>
    </div> 
    <hr class="about-hr">
	<div class="row about-row">
        <div class="col-md-6">
            <h4 class="about-h4">La spécialité de Reflet Sucré</h4>
            <img src="{{ 'assets/img/box-mac.jpg' }}" class="rounded img-fluid width-" alt="Les macarons">
        </div>
        <div class="col-md-6">
            <p class="text-left about-text-p">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius repudiandae necessitatibus cupiditate quis doloribus aspernatur accusantium, voluptate eveniet recusandae ea, facilis dolor exercitationem deserunt quae unde et debitis alias error!
                Natus neque dolorum repudiandae voluptates commodi aspernatur cumque molestias quae quod! Quidem consectetur dolorem beatae laudantium assumenda. Recusandae debitis maiores numquam illo, quidem ut quam optio tenetur, libero officia dicta?
                Libero quibusdam, sunt et quasi autem, tenetur soluta non beatae sed facere, dolore eum nobis voluptatibus numquam ut in pariatur blanditiis neque voluptate voluptatem commodi. Perspiciatis voluptates sint cupiditate maxime.
                Id magni voluptate ullam voluptas? Quo, laborum nesciunt nam, maxime blanditiis possimus repellendus fugiat temporibus fuga debitis modi quia illo nemo ab et beatae minus qui quos nulla vitae fugit?
                Ullam molestias numquam reprehenderit. Numquam aliquid esse quis aperiam commodi? Maiores magni ipsum quis aut, libero corrupti cupiditate necessitatibus cum, eligendi dolor impedit obcaecati numquam tempore, voluptatum qui recusandae. Magnam.
            </p>
        </div>
    </div>

	

{% endblock %}
