{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - Reflet Sucré{% endblock %}

{% block content %}

<h1>Modifier mon mot de passe</h1>
<a href="{{ path('account') }}">Retourner à mon compte</a><br>
<hr>
{% if notif %}
    <div class="alert alert-info">{{ notif }}</div>
{% endif %}    
{{ form(form) }}
<hr>

{% endblock %}
