{% extends 'base.html.twig' %}

{% block carousel %}
{% endblock %}

{% block content %}

 <!-- Three columns of text below the carousel -->
    <h3>Les pâtisseries du moment </h3>
    <p>Découvrez nos gourmandises d'hiver, des produits savoureux et de saison !</p>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single.product.html.twig' %}
            </div>
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Nous utilisons des produits<span class="text-muted"> frais et de saisons.</span></h2>
                <p class="lead">Nos pâtisseries sont exclusivement produits en respectant la saisonalité.</p>
            </div>
            <div class="col-md-5">
               <img src="{{ 'assets/img/fruitttt.png' }}" class="img-fluid" alt="des produits frais utilisés">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Spécialité de Reflet Sucré : <span class="text-muted">Les macarons.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ 'assets/img/macss.png' }}" class="img-fluid" alt="spécialités de la maison">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Découvrez notre barista :<span class="text-muted"> Mike THE smile !</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                 <img src="{{ 'assets/img/mike.png' }}" class="img-fluid" alt="Histoire de l'équipe">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    
{% endblock %}
