{% extends 'base.html.twig' %}

{% block content %}

 <h1>Formulaire d'inscription</h1>

 {% if notification %}
    <div class="alert-info">{{ notification }}</div>
    <hr>
 {% endif %}

{{ form(form)}}
<div class="button-submit-password"></div>
<hr>
<div class="hr-submit-line"></div>

{% endblock %}