{% extends 'base.html.twig' %}

{% block content %}

 <h1>Formulaire d'inscription</h1>

{{ form(form)}}
<div class="button-submit-password"></div>
<hr>
<div class="hr-submit-line"></div>

{% endblock %}